#footer{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  width: 100%;
  max-width: 1200px;
  border-top: 1px solid lightgray;
  background-color: gray;
}
#footer #up-footer{
  margin: 2% 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*color: rgb(51, 61, 75);*/
  color: white;

}
#footer #down-footer{
  margin: 1% 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*color: rgb(51, 61, 75);*/
  border-top: 1px solid lightgray;
  color: white;

}

#footer #down-footer h{
  margin-top: 20px;
}