.w_box_common{
    width : 1200px;
    height : 900px;
    background-color: #dddddd;
    margin: 0 auto;
}
.sort_row{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sort_content_card {
    border-radius: 10px;
    width : 200px;
    height :300px;
    background-color: #4e5968;
    overflow: hidden;
    cursor: pointer;
}
.sort_content_card:hover{
    transform: scale(1.05);
}


.sort_content_card_image{
    width : 100%;
    height :200px;
    background-color: #ffae00;
    object-position: center;
    object-fit: cover;
}

.sort_content_card_image img{
    width :100%;
    height : 100%;
}
.sort_content_card_desc{
    flex-direction: column;
    justify-content: start;
    width : 100%;
    height : 100px;
    background-color: white;
}

.sort_content_card_desc_top{
    height : 35px;
    text-align: center;
    font-size: 100%;
    padding-top: 15px;
}

.sort_content_card_desc_middle{
    height : 30px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    border-bottom: 1px solid #4e5968;

}
#price{
    font-weight: bold;
}

.sort_content_card_desc_bottom{
    flex-direction: row;
    justify-content: end;
    height : 20px;
    margin-right: 10px;
}

.sort_page_row{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width : 500px;
    height : 50px;
    margin: 50px auto;
}

.sort_page_button{
    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
    color: black;
    align-items: center;
    justify-content: center;
}