.w_box_common{
    width : 1200px;
    height : 900px;
    background-color: white;
    margin: 0 auto;
    padding: 0;
}
.sort_row{
    flex-direction: row;
    justify-content: space-between;
    width : 100%;
    height : 300px;
    margin-top: 40px;
}
.sort_content_card {
    border-radius: 8px;
    border: 1px solid #dddddd;
    width : 200px;
    height :250px;
    background-color: white;
    cursor: pointer;
    padding : 20px 30px 30px 20px;
    margin: 0px 10px 0px 10px;
}
.sort_content_card_image{
    width : 160px;
    height :170px;
    background-color: white;
    object-position: center;
    object-fit: cover;
    margin: auto;
}

.sort_content_card_image img{
    width :100%;
    height : 100%;
    display: inline-block;
    content: "";
}
.sort_content_card_desc{
    flex-direction: column;
    justify-content: start;
    width : 100%;
    background-color: white;
}

.sort_content_card_desc_top{
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}

#price{
    font-weight: bold;
}

.sort_content_card_desc_bottom{
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
}
.time_data{
    margin-top: 7px;
    font-size: 13px;
    color : #969696;
}

.sort_page_row{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width : 500px;
    height : 50px;
    margin: 50px auto;
    display : none;
}

.sort_page_button{
    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
    color: black;
    align-items: center;
    justify-content: center;
}