.alert{
    position: relative;
    bottom : 190px;
    right : 23px;
    width :285px;
    height : 205px;
    background-color: #272727c4;
    z-index: 100;
    border-radius: 10px;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.alert p{
    width : 100%;
    height : 30px;
    font-size: 22px;
    color: white;
    text-align: center;
}

.pocket_book_image_preview button{
    position: relative;
    bottom : 202px;
    left: 70px;
    width : 100px;
    height : 40px;
    border-radius: 5px;
    background-color: #191f28;
    color:white;
    z-index: 100;
    display: none;
}

.pocket_book_main_wrapper{
    width: 1200px;
    height :1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-image: url("/static/image/poket_divice.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.pocket_book_left_box{
    width : 600px;
    height : 1000px;
    border-radius: 20px;
}

.pocket_book_left_box_wrapper{
    width : 540px;
    margin: 200px auto;

}

.pocket_book_left_box_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}


.pocket_book_image_preview{
    position: relative;
    top: 160px;
    left: 60px;
    width :255px;
    height : 190px;
    background-color: #232323;
    border-radius: 20px;
    padding : 10px 10px 10px 10px;
    object-fit: cover;
}

.pocket_book_image_preview img{
    width : 100%;
    height : 100%;
}

.pocket_book_image_predict_tag{
    position: relative;
    width : 120px;
    top: 160px;
    right : 10px;
    background-color: #dedede;
    text-align: center;
    padding-top: 3px;
    height : 30px;
    color : black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
}

.pocket_book_image_preview_wrapper{
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height : 250px;
    margin-right: 20px;
}

.pocket_book_image_preview_wrapper label{
    margin-top : 20px;
    width : 100px;
    height : 60px;
    background-color: #232323;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    font-weight: 600;
}

.pocket_book_image_predict{
    position: relative;
    top:188px;
    right : 2px;
    width : 110px;
    height : 98px;
    background-color: #232323;
    border-radius: 20px;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}

.spinner_container {
    position: relative;
    top:0px;
    display: none;
    margin: 13px auto;
    width: 90px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.spinner {
    width :100px;
    height : 90px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.pocket_book_image_predict img{
    width : 100%;
    height : 100%;
}
.pocket_book_right_box{
    width : 600px;
    height : 900px;
    border-radius: 20px;
    margin-top: 100px;
}

.pocket_book_content_box{
    position: relative;
    top: 164px;
    right: 9px;
    margin: 50px auto;
    width : 495px;
    height : 220px;
    background-color: #61C96E ;
    border-radius: 10px;
    color : white;
    font-size: 20px;
    padding: 8px 20px 20px 20px;
    clear: both;
}

.pocket_book_content_box_header{
    margin-top: 20px;
    font-size: 30px;
    color : white;

}

.pocket_book_content_box_header_line{
    width : 100px;
    height : 0px;
    border-bottom: 4px solid #C8FFA7;
}

.pocket_book_content_box_wrapper{
    width : 250px;
    height : 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.pocket_book_content_box_row{
    width :450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

#title{
    width :250px;
    text-align: center;
}
.pocket_book_content_box_row_right{
    width :390px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    color:white;

}

.pocket_book_content_box_row_right input{
    background-color: #61C96E;
    border-top: none;
    border-right:none;
    border-left:none;
    border-bottom: 4px solid #C8FFA7;
    caret-color : white;
    color : white;
    outline: none;
    text-align: center;
    width : 100px;
}

.pocket_book_content_box_row input{
    background-color: #61C96E;
    border-top: none;
    border-right:none;
    border-left:none;
    border-bottom: 4px solid #C8FFA7;
    caret-color : white;
    color : white;
    outline: none;
    text-align: center;
    width : 100px;
}


.pocket_book_right_box_wrapper{
    position: relative;
    top: 115px;
    left: 110px;
    width : 440px;
    height : 470px;
    background-color: #61C96E;
    border-radius:  10px;

}

.pocket_book_right_box_wrapper > p{
    font-size: 30px;
    color : white;
    font-weight: bold;
}
.pocket_book_right_box_wrapper textarea{
    width : 100%;
    height : 170px;
    border-top: none;
    border-right:none;
    border-left:none;
    background-color: #e9ffda;
    border-radius: 10px;
    resize: none;
    color : #386B33;
    caret-color : black;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    outline: solid 3px #24cca8;
}

.btn_upload{
    width :150px;
    height : 70px;
    float: right;
    border-radius: 10px;
    background-color: #386B33;
    color: white;
    border: solid 4px black;
    margin-top: 60px;
    font-weight: 600;
    font-size: 20px;

}

.pocket_book_right_box_wrapper{
    margin-top:100px;
    padding: 20px 20px 20px 20px;
}

