<div class="bg_gray">
    <div class="category_box_wrap">
    <div class="category_box" >
        <div class="category_header">
            카테고리
        </div>
        <hr>
        <div class="category_box_first_words">
            <div class="category_box_first_words_row">
                <div class="first_words_box">
                    <p>ㄱ</p>
                </div>
                <div class="first_words_box">
                    <p>ㄴ</p>
                </div>
                <div class="first_words_box">
                    <p>ㄷ</p>
                </div>
                <div class="first_words_box">
                    <p>ㄹ</p>
                </div>
                <div class="first_words_box">
                    <p>ㅁ</p>
                </div>
                <div class="first_words_box">
                    <p>ㅂ</p>
                </div>
                <div class="first_words_box">
                    <p>ㅅ</p>
                </div>
            </div>
            <div class="category_box_first_words_row mt20">
                <div class="first_words_box">
                    <p>ㅇ</p>
                </div>
                <div class="first_words_box">
                    <p>ㅈ</p>
                </div>
                <div class="first_words_box">
                    <p>ㅊ</p>
                </div>
                <div class="first_words_box">
                    <p>ㅋ</p>
                </div>
                <div class="first_words_box">
                    <p>ㅌ</p>
                </div>
                <div class="first_words_box">
                    <p>ㅍ</p>
                </div>
                <div class="first_words_box">
                    <p>ㅎ</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="category_box_pokemons">
            <div class="category_box_pokemons_row mt30">
                <div class="category_pokemons_box">
                    <img src="../static/image/라이츄.png">
                </div>
                <div class="category_pokemons_box">
                    <img src="../static/image/라이츄.png">
                </div>
                <div class="category_pokemons_box">
                    <img src="../static/image/라이츄.png">
                </div>
                <div class="category_pokemons_box">
                    <img src="../static/image/라이츄.png">
                </div>
                <div class="category_pokemons_box">
                    <img src="../static/image/라이츄.png">
                </div>
            </div>
            <div class="category_box_pokemons_row mt30">
                <div class="category_pokemons_box">
                    <img src="../static/image/라이츄.png">
                </div>
                <div class="category_pokemons_box">
                    <img src="../static/image/라이츄.png">
                </div>
                <div class="category_pokemons_box">
                    <img src="../static/image/라이츄.png">
                </div>
                <div class="category_pokemons_box">
                    <img src="../static/image/라이츄.png">
                </div>
                <div class="category_pokemons_box">
                    <img src="../static/image/라이츄.png">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
