<div id="footer">
  <div>
    <div id="up-footer">
      <img src="logo.png">
      <a href="/">포켓 마켓</a>
      <a href="/make_new"">믿을 수 있는 트레이드</a>
          <a href=" https://www.pokemonkorea.co.kr/pokedex">포켓몬 도감</a>
      <a href="https://play.google.com/store/apps/details?id=com.nianticlabs.pokemongo">포켓몬 GO 다운로드</a>
    </div>
    <div id="down-footer">
      <p>
        <strong>고객문의</strong> team@ori.com
        <strong>제휴문의</strong> teamori@naver.com<br>
        <strong>지역광고</strong> team@oridongdong.com
        <strong>PR문의</strong> team@ori.com<br><br>
        서울특별시 종로구 청와대로 1<Br>
        사업자 등록번호 : 123-45-678919 직업정보제공사업 신고번호 : 582659201453
      </p>
      <h>@Development BY <span>김재성 이성오 문경민 김호 정심일</span></h>
    </div>
  </div>
</div>