<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세페이지</title>
    <link rel="stylesheet" href="../static/css/no.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="../static/css/main_page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="/static/javascript/detail_page.js"></script>
</head>

<body>
    <div class="main_banner">
        <div>
            <span class="banner_span">모든지역의 트레이더들과 실시간 거래</span>
            <h4 class="banner_h4">포켓몬 트레이드 No.1 포켓스토어</h4>
            <form action="#" class="form_common mt40">
                <input type="text" maxlength="10">
                <i class="fas fa-search"></i>
            </form>
        </div>
        <p class="main_banner_ball"><img src="/static/image/main_images/Pokeball_96px.png" alt="1"></p>
        <p class="main_banner_ball"><img src="/static/image/main_images/Ash-Hat_96px.png" alt="2"></p>
    </div>
    <ul class="category_icon flex mt50">
        <li>
            <a href="#">
                <img src="/static/image/main_images/Pikachu_96px.png" alt="피카츄">
                <span>피카츄</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/static/image/main_images/Bulbasaur_96px.png" alt="이상해씨">
                <span>이상해씨</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/static/image/main_images/Sqirtle_96px.png" alt="꼬부기">
                <span>꼬부기</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/static/image/main_images/Charmander_96px.png" alt="파이리">
                <span>파이리</span>
            </a>
        </li>

        <li>
            <a href="#">
                <img src="/static/image/main_images/Eevee_96px.png" alt="1"
                    style="transform: translateX(2px);transform: translateY(-2px); width: 64px; height: 67px;">
                <span>이브이</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/static/image/main_images/Snorlax_96px.png" alt="잠만보" style="transform: translateY(5px);">
                <span>잠만보</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/static/image/main_images/Gyarados_96px.png" alt="갸라도스">
                <span>갸라도스</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/static/image/main_images/Charizard_96px.png" alt="리자몽" style="width: 45px;">
                <span>리자몽</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/static/image/main_images/Blastoise_96px.png" alt="거북왕">
                <span>거북왕</span>
            </a>
        </li>
    </ul>
    <ul class="prod_list mt50">
        <div>
            <h4 class="h4_common main_common">현재 가장 핫한 트레이드! <a href="#">모두보기</a></h4>
            <div class="flex mt30">
                <li>
                    <a href="#">
                        <div>
                            <img src="/static/image/main_images/Pikachu_96px.png" alt="1">
                        </div>

                        <span>노목7강 팜 선 제시 ㄱㄱ</span>
                        <p class="mt30">200,000원<strong>5시간전</strong></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="/static/image/main_images/Pikachu_96px.png" alt="1">
                        </div>

                        <span>노목7강 팜 선 제시 ㄱㄱ</span>
                        <p class="mt30">200,000원<strong>5시간전</strong></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="/static/image/main_images/Pikachu_96px.png" alt="1">
                        </div>

                        <span>노목7강 팜 선 제시 ㄱㄱ</span>
                        <p class="mt30">200,000원<strong>5시간전</strong></p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <img src="/static/image/main_images/Pikachu_96px.png" alt="1">
                        </div>

                        <span>노목7강 팜 선 제시 ㄱㄱ</span>
                        <p class="mt30">200,000원<strong>5시간전</strong></p>
                    </a>
                </li>

            </div>
        </div>
    </ul>


</body>

</html>