<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/no.css">
    <link rel="stylesheet" href="../static/css/common.css">
</head>

<body>
    <div class="inner_padding">
        <span class="span_common">송금</span>
        <h4 class="h4_common mt30">간편하고 안전하게<br>
            수수료는 평생 무료로,<br>
            이런 송금 써보셨나요?
        </h4>
        <p class="p_common mt50">
            토스에 계좌와 카드를 연결해 보세요.<br>
            잔고, 대출·투자 내역은 기본,<br>
            카드 실적 달성과 일자별 소비와 수입을<br>
            한 번에 볼 수 있어요.
        </p>
        <div class="b_box_common mt50">
            <h5 class="b_box_common_h5">언제 어디서든, 원할 때 간편하게<br>
                <span class="color_white">신용점수를 확인하세요.</span>
            </h5>
        </div>
    </div>
    <div class="bg_gray inner_padding">
        <div class="flex" style="height: 450px;">
            <div class="w_box_common">
                <p class="w_box_common_p">누구에게 보내든 은행 상관없이,<br>
                    <span class="color_blue">평생 무료 송금으로</span><br>
                    수수료 걱정 없이 보내세요
                </p>
            </div>
            <div style="width: 500px; height: 300px;">
                <img src=" ../static/image/hi.jpeg" alt="1" style="width: 500px; height: 300px;">
            </div>

        </div>

        <form action=" #" class="form_common">
            <h4 class="h4_common">피해 사건 신고</h4>
            <p class="p_common mt10">사칭, 보이스피싱 또는 중고거래 피해를 입으셨나요?<br>
                너무 걱정하지 마세요. 토스 안심보상제가 있어요.</p>
            <label for="name" class="mt60">이름</label>
            <input type="text" id="name" placeholder="이름 입력">
            <label for="birth" class="mt30">생년월일</label>
            <input type="text" id="birth" placeholder="YYYYMMDD">
            <label for="phoneNum" class="mt30">휴대폰번호</label>
            <input type="text" id="phoneNum" placeholder="휴대폰번호 입력">
            <button type="submit" class="btn_common mt50">다음</button>
        </form>


    </div>


    <div class="b_box_bottom">
        <h4 class="m0 b_box_bottom_h4">사업도 토스와 함께</h4>
        <p class="b_box_bottom_p">사업을 시작하셨나요?<br>
            사업의 시작부터 관리까지<br>
            이제 토스와 함께 하세요.
        </p>
        <ul class="flex" style="width: 1100px; margin: 0 auto;">
            <li style="text-align: left; list-style: none;">
                <h5 class="b_box_bottom_h5 m0">토스결제</h5>
                <p class="b_box_bottom_h5_p m0 mt20">
                    합리적인 수수료,<br>
                    간편한 결제 경험으로 비용은<br>
                    절감하고 매출은 늘리세요.
                </p>
                <button class="btn_common mt30">자세히 알아보기</button>
            </li>
            <li style="text-align: left; list-style: none;">
                <h5 class="b_box_bottom_h5 m0">토스결제</h5>
                <p class="b_box_bottom_h5_p m0 mt20">
                    합리적인 수수료,<br>
                    간편한 결제 경험으로 비용은<br>
                    절감하고 매출은 늘리세요.
                </p>
                <button class="btn_common mt30">자세히 알아보기</button>
            </li>
            <li style="text-align: left; list-style: none;">
                <h5 class="b_box_bottom_h5 m0">토스결제</h5>
                <p class="b_box_bottom_h5_p m0 mt20">
                    합리적인 수수료,<br>
                    간편한 결제 경험으로 비용은<br>
                    절감하고 매출은 늘리세요.
                </p>
                <button class="btn_common mt30">자세히 알아보기</button>
            </li>
        </ul>

    </div>


</body>

</html>