<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/no.css">
    <link rel="stylesheet" href="/static/css/common.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/javascript/profile.js"></script>

</head>
<body>
{% include 'header.html' %}
    <div class="flex top-content">
        <div class="left-profile-box">
            <img src="/static/image/default_pokemons_img/{{container['interest_poket']}}.png"/>
            <ul class="mt70 profile-box">
                <li>
                    <p>트레이너 : <span>{{container['user_id']}}</span></p>
                </li>
                <li class="mt20">
                    <p>성별 : <span>{{container['gender']}}</span></p>
                </li>
                <li class="mt20">
                    <p>전화번호 : <span>{{container['phone_number']}}</span></p>
                </li>
                <li class="mt20">
                    <p>관심 포켓몬 : <span>{{container['interest_poket']}}</span></p>
                </li>
                <li class="mt20">
                    <p>잔여 포인트 : <span>{{container['point']}}point</span></p>
                </li>
                <li>
                    <img class="profile-bot-img" src='/static/image/pika.jpg'>
                </li>
            </ul>

        </div>
        <div class="r-box">
            {% set b = get_mon | length %}
            {% for i in range(b) %}
            <div class="r-box-item">
               <a><img src="/static/image/content/{{get_mon[i]}}"/></a>
            </div>
            {% endfor %}}

        </div>
    </div>
    <div>
        <div class="top-gnb mt70">
            <div class="flex">
                <a onclick="sale_pokemon()">
                    <img class="open-ball" src="/static/image/open_ball.png">
                    <span>거래중</span>
                </a>

            </div>
        </div>
        <ul class="mt50 bot-list">
            {% set a = mon_title | length %}
            {% for i in range(a) %}


            <li>
                <div>
                    <a href="/detail_page/{{poket[i]['maket_id']}}">
                        <img src="/static/image/content/{{mon_photo[i]}}"/>
                    </a>
                </div>
                <h5>
                    <a href="/detail_page/{{poket[i]['maket_id']}}">
                        {{mon_title[i]}}
                    </a>
                </h5>
                <span>{{mon_date[i]}}</span>
                {% endfor %}
            </li>
        </ul>

    </div>
{% include 'footer.html' %}
</body>
</html>