<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="stylesheet" href="../static/css/no.css">
    <link rel="stylesheet" href="../static/css/common.css">

</head>
<body>
<div id="main">
    <div id="profile-box">
        <div id="my-profile">
            <div id="profile-img">
                <img src="../static/image/hi.jpeg" alt="profile-img"/>
            </div>
            <p>이름</p>
            <p>나이</p>
        </div>
        <div id="my-pokemone">
            <div class="pokemone">
                <img src="../static/image/hi.jpeg"/>
            </div>
            <div class="pokemone">
                <img src="../static/image/hi.jpeg"/>
            </div>
            <div class="pokemone">
                <img src="../static/image/hi.jpeg"/>
            </div>
            <div class="pokemone">
                <img src="../static/image/hi.jpeg"/>
            </div>
        </div>
    </div>
    <div id="trans-box">
        <div>

        </div>
        <div class="pokemone">
            <img src="../static/image/hi.jpeg"/>
        </div>

    </div>
</div>
</body>
</html>