<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/sign_up.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/javascript/sign_up.js"></script>
<!--    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
<!--    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<!--    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
</head>
<body>
<div id="main">
    <div id="sign-up-container">
        <div id="sign-up-title-wrapper">
            <img src="../static/image/logo.png"/>
        </div>
        <hr>
        <div id="sign-up-main-wrapper">
            <form name="login-form">
                <div class="form_common">
                    <input class="login-group-input" type="text" id="user-id" onchange="check_user_id(this)" required/>
                    <label class="login-group-label" for="user-id">아이디</label>
                    <img class="check-image" src="">
                </div>
                <div class="form_common">
                    <input class="login-group-input" type="text" id="password" onchange="check_pwd(this)" required/>
                    <label class="login-group-label" for="password">비밀번호</label>
                    <img class="check-image" src=""/>
                </div>
                <div class="form-radio">
                    <input type="radio" id="male" name="gender" value="male" required/>
                    <label for="male">남성</label>
                    <input type="radio" id="female" name="gender" value="female" />
                    <label for="female">여성</label>
                    <img class="check-image" src=""/>
                </div>
                <div class="form_common">
                    <input class="login-group-input" type="text" id="phone-number" onchange="check_phone(this)" required/>
                    <label class="login-group-label" for="phone-number">핸드폰 번호</label>
                    <img class="check-image" src=""/>
                </div>
                <div class="form_common">
                    <input class="login-group-input" type="text" id="interest-poket" required/>
                    <label class="login-group-label" for="interest-poket">관심 있는 포켓몬</label>
                    <img class="check-image" src=""/>
                    <div id="auto-poket"></div>
                </div>

                <div id="btn-wrapper">
                    <input class="btn_common" type="submit" value="제출" />
                    <input class="btn_common" type="button" value="cancel" onclick="window.location.reload()" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>