<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Store</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="/static/css/no.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/sort_pokemon.css">
    <script src="/static/javascript/sort_pokemon.js"></script>
    <script src="/static/javascript/header.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>
{% include 'header.html' %}
<div class="w_box_common">
    <div class="h4_common">
        {{ category }}
    </div>
    <hr>
    {% set total = container|length %}
    {% if total==0 %}
    <div class="h4_common" >
        <img src="/static/image/none_find.png">
        <button class="back_to_main_page" onclick="window.location.href='/'"> 돌아가기 </button>
    </div>
    <div class="none_data"></div>
    {% else %}
    {% set rowcnt = total//5 +1 %}
    {% for i in range(rowcnt) %}
    <div class="sort_row flex">
        {% for j in range(5) %}
        {% if i*5+j >= total %}
        <div class="sort_content_card" style="background-color: white; border:none"></div>
        {% else %}
        {% set detail_page_url = '/detail_page/' + container[i*5+j]['maket_id'] %}
        <div class="sort_content_card" onclick="window.location.href='{{ detail_page_url }}'">
            <div class="sort_content_card_image">
                {% set base_path = '/static/image/content/' + container[i*5+j]['photo'] %}
                <img src="{{ base_path }}">
            </div>
            <div class="sort_content_card_desc">
                <div class="sort_content_card_desc_top mt20">
                    <p>{{ container[i*5+j]['header'] }}</p>
                </div>
                <div class="sort_content_card_desc_bottom flex mt30">
                    <p>{{ container[i*5+j]['price'] }}</p>
                    {% set date_list_time = container[i*5+j]['date'].split('-')[2]%}
                    {% set delta_time = curr_day - date_list_time|int %}
                    {% set date_list_hour = container[i*5+j]['date'].split('-')[3]%}
                    {% set delta_hour = curr_hour - date_list_hour|int %}
                    {% set date_list_minute = container[i*5+j]['date'].split('-')[4]%}
                    {% set delta_minute = curr_hour - date_list_minute|int %}

                    {% if delta_time == 0 %}
                    {% if delta_hour == 0 %}
                    <p class="time_data">{{ delta_minute }} 분 전</p>
                    {% else %}
                    <p class="time_data">{{ delta_hour }} 시간 전</p>
                    {% endif %}
                    {% else  %}
                    <p class="time_data">{{ delta_time }} 일전</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    <div class="sort_page_row flex">
        <div class="sort_page_button flex" id="prev">
            <p>이전</p>
        </div>
        {% for i in range(1,5) %}
        <div class="sort_page_button flex">
            <p>{{i}}</p>
        </div>
        {% endfor %}
        <div class="sort_page_button flex" id="next">
            <p>다음</p>
        </div>
    </div>
</div>
{% endif %}
{% include 'footer.html' %}
</body>
</html>